/*--- VARIABLES ---*/
$letraCursiva:'Hurricane', cursive;
$fondoOscuro: #012225;
$gradiante: linear-gradient(
    to right, #FFD700, #feed8b,
    #FFD700, #fff27d);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor > * {
    padding: 10px;   
}
.contenedor{
        display: grid;
        min-height: 100vh;
        background-image: url(../imagenes/FondoDorado.webp);
        background-size: cover;
        background-attachment: fixed;
        grid-template-rows: auto auto 1fr auto;
    }


header{
    background-color: $fondoOscuro;
    h1{
        background: $gradiante;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: $letraCursiva;
        font-size: 3.125rem;
        text-align: center;
    }
}

nav{
    background-color: $fondoOscuro;
    border-radius: 0px 0px 20px 20px;
    border-top: #feed8b 2px double;
    position: relative;

    h1{
        display: none;
    }

    .menu-bar{
        display: none;
        list-style: none;
        
        li{

            a{
                font-size: 1.125rem;
                background: $gradiante;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                &:hover{
                    transform: scale(1.1);
                }
            }

        }
    }

    img{
        display: none;
    }

    .menu-hamburguesa{
            display: block;
            cursor: pointer;
            list-style: none;
            &:hover{
                .desplegar{
                    display: block;
                    position: absolute;
                    list-style: none; 
                    text-decoration: none;
                    background-color: $fondoOscuro;
                }
            }
            li{

                .fa-bars{
                    &:before{
                        font-size: 1.5625rem;
                        background: linear-gradient(
                        to right, #FFD700, #feed8b,
                        #FFD700, #fff27d);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                    }
                }
                .desplegar{
                    display: none;
                    border-radius: 0px 0px 10px 10px;
                    li{
                        a{
                            font-size: 1.875rem;
                            background: linear-gradient(
                            to right, #FFD700, #feed8b,
                            #FFD700, #fff27d);
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                            padding: 10px;
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }

main{
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    text-align: center;
    .Trabajo{
        &:hover{
            transform: scale(1.1);
        }

        a{
            color: $fondoOscuro;
            margin: 15px;
            text-decoration: none;
            font-size: 1.125rem;
            font-family: Arial, Helvetica, sans-serif;
            &:hover{
                color: #feed8b;
                -webkit-text-stroke: 1px #012225;
            }
            img{
                width: 300px;
                height: 200px;
                border: 2px solid #FFD700;
                border-radius: 8px;
                box-shadow: 14px 14px 15px 0 black;
                margin: 10px;
                object-fit: cover;
            }
            h2{

            }
        }

    }
}

footer{
    background-color: $fondoOscuro;
    display: flex;
    justify-content: space-between;
    img{
        width: 40px;
        padding: 2px;
    }
}

@media screen and (min-width: 530px){
    nav{
        
        ul{
            display:flex;
            justify-content: space-between;
            
        
        }
        a{
            font-size: 1.125rem;
        }
        .menu-bar{
            display: flex;
            list-style: none;
        }
        .menu-hamburguesa{
            display: none;
            list-style: none;
        }
    }
}
@media screen and (min-width: 710px){
    nav{
        a{
            font-size: 1.25rem;
        }
    }
    main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
    }
}

@media screen and (min-width: 1024px){
    
        .contenedor{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
        
        header{
            display: none;
        }
        nav{
            background-color: $fondoOscuro;
            margin-top:6px;
            border-radius: 0px 40px 40px 0px;
            color: yellow;
            width: 300px;
            ul{
                a{
                    font-size: 1.875rem;
                }
            }
            
            h1{
                display: block;
                padding-top: 20px;
                padding-left: 10px;
                font-family: $letraCursiva;
                font-size: 3.125rem;
                background: $gradiante;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }

            li{
                    padding: 5px;
                    display: flex;
                    margin-top: 40px;
                }
            .menu-bar{
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 20px 0px;
            }
            img{
                display: flex;
                margin: 55px;
            }
            
        }
        
        footer{
            grid-column: 1 / -1;
            margin-top: 15px;
        }
    }
}

